body{

font-family:Arial;
margin:0;
background:#f2f2f2;

}

header{

background:#e60012;
color:white;
text-align:center;
padding:25px;

}

.catalogo{

display:flex;
justify-content:center;
gap:40px;
padding:30px;
flex-wrap:wrap;

}

.consola{

background:white;
padding:20px;
border-radius:10px;
width:320px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);

}

.consola h2{

border-bottom:2px solid #e60012;
padding-bottom:10px;

}

ul{

list-style:none;
padding:0;

}

li{

padding:10px;
border-bottom:1px solid #eee;
cursor:pointer;

}

li:hover{

background:#f7f7f7;

}

.pedido{

text-align:center;
padding:40px;

}

input,select{

padding:10px;
margin:10px;
width:220px;
border-radius:5px;
border:1px solid #ccc;

}

button{

padding:12px 20px;
background:#e60012;
border:none;
border-radius:5px;
color:white;
cursor:pointer;

}

button:hover{

background:#c40010;

}

.panel{

display:none;
text-align:center;
padding:40px;
background:white;
border-top:3px solid #e60012;

}

.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:28px;
padding:15px;
border-radius:50%;
text-decoration:none;
box-shadow:0 4px 10px rgba(0,0,0,0.3);

}

.adminBtn{

position:fixed;
bottom:20px;
left:20px;
background:#333;
color:white;
border:none;
padding:12px;
border-radius:50%;
cursor:pointer;

}


/* RESPONSIVE */

@media (max-width:768px){

.catalogo{

flex-direction:column;
align-items:center;

}

.consola{

width:90%;

}

input,select{

width:80%;

}

}